.panel {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    border-radius: var(--border-radius);
    padding: 1em;
    border: 1px solid var(--grey-200);
    margin-bottom: 1em;
    box-sizing: border-box;
    max-width: 90%;

    &--small {
        width: 320px;
    }

    &--inset {
        background: var(--grey);
        border-radius: var(--border-radius);
        box-shadow: inset 0 0 20px rgba(0, 0, 0, .15);
    }

    //negate the panels padding:
    .flush-with-panel {
        margin-left: -1em;
        margin-right: -1em;
    }

    .panel--header,
    .panel--footer {
        margin: -1em -1em 1em -1em;
        padding: 1em 1em .7em 1em;
        border-bottom: 1px solid var(--grey-200);

        &.with-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .panel--footer {
        border-bottom: 0;
        margin: 1em -1em -1em -1em;
        border-top: 1px solid var(--grey-200);
    }

    .panel--subtitle {
        padding-bottom: 1em;
        display: block;

        &.has-icon svg {
            color: var(--grey-600);
        }
    }

    .panel--section {
        margin-bottom: 2em;
        padding-bottom: 1em;
        border-bottom: 1px solid var(--grey-200)
    }
}

.row {
    display: flex;
    flex-flow: row nowrap;

    >.column {
        flex: 1;
    }
}

.column {
    display: flex;
    flex-flow: column nowrap;
}
